.footer {
  width: 100%;
  padding: 40px 80px;
  background: #fff;
  font-family: Arial, sans-serif;
}

.footer-section h3,
.footer-categories h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-line {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.footer-title {
  font-weight: bold;
}

.footer-list {
  color: #555;
}

.footer-categories .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 15px;
  column-gap: 20px;
  margin-top: 20px;
}

.footer-divider {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

/* Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 40px;
  font-weight: 700;
  color: #ff3366;
}

.social-icons span {
  margin-right: 12px;
  font-size: 22px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links p {
  margin: 8px 0;
  cursor: pointer;
}

.footer-app h4 {
  margin-bottom: 15px;
}

.store-btn {
  width: 220px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .store-btn {
    width: 100%;
  }
}
